# Zsh
zsh/*
!zsh/.zshrc
!zsh/.p10k.zsh

# Vim
## Directories
vim/plugged/
vim/autoload/
vim/history/

# Files
vim/.netrwhist
vim/viminfo

# Tmux
tmux/plugins
tmux/.tmux

# Git
git/credentials

# Lock files
nvim/lazy-lock.json
